*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

header{
    background-color: teal;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 75px;
    width: 100%;
    
}

a{
    color:wheat;
}

body{
    background-color: rgb(207, 188, 163);
}

img{
    border: 10px solid rgb(91, 143, 126)
}

.container{

}

.text-right{

}